body {
  background-color: black;
}
.title {
  font-size: 150px;
  /* animation: mymove 5s;
   animation-timing-function: ease;
    */
}

/* @keyframes mymove {
   from {left: 0px;}
   to {left: 300px;}
 } */

p {
  font-size: larger;
}

#home {
  background-color: transparent;
  border: none;
  animation-name: example2;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.jumbotron {
  text-align: center;
  font-family: "Bungee Hairline", cursive;
  color: lightskyblue;
  background-image: url(../images/230613.jpg);

  background-size: contain;


    animation-name: example2;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
   
    
    
}

@keyframes example2 {
    from {color: black;}
    to {color: white;}
    
  
}

@keyframes example2 {
  from {
    color: greenyellow;
  }
  to {
    color: white;
  }


}

#small-head {
  text-align: center;
  height: 20%;
  font-family: "Bungee Hairline", cursive;
  color: lightskyblue;
  background-image: url(../images/230613.jpg);
  background-size: contain;

  animation-name: example2;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#subtitle {
  font-size: 12px;
}

.search-bar {
  left: 30%;
  width: 40%;
  float: left;
}

.search-bar-small {
  width: 20%;
  left: 40%;
}

.search-btn {
  clear: both;
  position: relative;
  left: 30%;
  margin-left: 1%;
  height: 43px;
  background-color: black;
  color: white;
  border: black 1px solid;
}

.search-btn-small {
  clear: both;
  position: relative;
  left: 60%;
  bottom: 30px;
  margin-left: 1px;
  height: 30px;
  background-color: black;
  color: white;
  border: black 1px solid;
  font-size: 12px;
}

.searchDiv {
  height: 100px;
}

.search-Div-Small {
  height: 35px;
  margin-bottom: 5px;
}

.genres {
  text-align: center;
}

.btn-genre {
  margin: 5px;
}

.btn-genre-small {
  margin: 5px;
  font-size: 8px;
}

.content {

    
    height: auto;
    width: auto;
    margin: 30px;

}


.artistName {
  margin: 20px;
   color: white;
   font-size: 80px;
   font-family: "Bungee Hairline", cursive;
  
 }
 .band-image {
  
  height: 300px;
  width: 300px;
  /* border: white 2px solid; */
  margin: 30px;
}

 .artist-fb {
  
  color: white;
  font-size: 100px;
  
 background-color: blue;
 position: relative;
 right: -17%;
 top: 30%;
 
 
}

.fb-icon {
  width: 24px !important;
    height: 24px !important;
}

.upcomingEvents {
  border: white 2px solid;
  padding: 20px;
  color: white;
  margin: 20px;
  text-align: center;
  
}

.seeTour {
  font-size: 75px;
  text-align: center;
  position: absolute;
right: 32%;
}


